.about {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.about_text h2 {
  font-family: var(--font-noto);
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 76px;
  color: #244d4d;
}
.about_text p {
  font-family: var(--font-poppins);
  width: 462px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #64717c;
}
.btn {
  background-color: #244d4d;
  color: white;
  border: none;
  padding: 5px 15px;
  font-weight: 500;
  text-transform: uppercase;
}

.about_content {
  /* width: 273px;
  height: 188px; */
  padding: 1rem;
  transition: all 0.3s ease-in-out;
}
.about_content:hover {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
}

.about_content h1 {
  font-family: var(--font-noto);
  font-style: normal;
  font-weight: bold;
  font-size: 58px;
  line-height: 76px;
  color: #244d4d;
}
.about_content h4 {
  font-family: var(--font-noto);
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
  color: #244d4d;
}
.about_content p {
  font-family: var(--font-poppins);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #64717c;
}
