.banner {
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}

.banner_img {
  display: flex;
  justify-content: flex-end;
}
.effect_1 {
  position: absolute;
  top: 13%;
  left: -30px;
  height: 100px;
  width: 100px;
  border: 10px solid #ff7e7e;
  border-radius: 50%;
  animation: topBounce 3s ease-in-out infinite;
}
.effect_2 {
  position: absolute;
  bottom: 8%;
  right: 80px;
  height: 124px;
  width: 124px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: topBounce 3s ease-in-out infinite;
}

@keyframes topBounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(25px);
  }
}
.banner_text {
  position: absolute;
  top: 215px;
  left: 0%;

  width: 570px;
  height: 470px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  padding: 4rem;
}
.banner_text h1 {
  font-family: var(--font-noto);
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 72px;
  letter-spacing: -0.03em;
  color: #244d4d;
}
.banner_text p {
  font-family: var(--font-poppins);
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */

  letter-spacing: 0.01em;

  color: #5f5f64;
}

@media screen and (min-width: 2000px) {
}

@media screen and (max-width: 850px) {
  .banner {
    align-items: stretch;
  }
  .banner_text {
    top: 60%;
    left: 0%;
    width: 100%;
    height: 50%;
    padding: 2rem;
  }
  .banner_img {
    display: flex;
    justify-content: flex-start;
  }
  .banner_img img {
    width: 100%;
  }
  .effect_1 {
    top: 48%;
  }
  .effect_2 {
    display: none;
  }
  .banner_text h1 {
    font-weight: 500;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.03em;
    color: #244d4d;
    text-align: center;
  }
  .banner_text p {
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;

    letter-spacing: 0.01em;

    color: #5f5f64;
  }
}

@media screen and (max-width: 650px) {
  .banner {
    align-items: stretch;
  }
  .banner_text {
    top: 44%;
    left: 0%;
    width: 100%;
    height: 50%;
    padding: 2rem;
  }
  .banner_img {
    display: flex;
    justify-content: flex-start;
  }
  .banner_img img {
    width: 100%;
  }
  .effect_1 {
    top: 48%;
  }
  .effect_2 {
    display: none;
  }
  .banner_text h1 {
    font-weight: 500;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.03em;
    color: #244d4d;
    text-align: center;
  }
  .banner_text p {
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;

    letter-spacing: 0.01em;

    color: #5f5f64;
  }
}

/* @media screen and (max-width: 350px) {
  .banner {
    align-items: stretch;
  }
  .banner_text {
    top: 40%;
    left: 0%;
    width: 100%;
    height: 10%;
    padding: 2rem;
  }
  .banner_img {
    display: flex;
    justify-content: flex-start;
  }
  .banner_img img {
    width: 100%;
  }
  .effect_1 {
    top: 38%;
  }
  .effect_2 {
    display: none;
  }
  .banner_text h1 {
    font-weight: 500;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.03em;
    color: #244d4d;
    text-align: center;
  }
  .banner_text p {
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;

    letter-spacing: 0.01em;

    color: #5f5f64;
  }
} */
